
// Other variables
$vertical-padding:3rem;
$horizontal-padding:5%;
$horizontal-padding-mobile:2.5%;
$section-padding: $vertical-padding $horizontal-padding;

//Fancy
$item-shadow: 0px 0px 12px 5px rgba(0,0,0,0.12);

//Tipography
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Raleway', sans-serif;

$h1-size: 3.79rem;
$h2-size: 2.5rem;
$h3-size: 2.2rem;
$p-size: 2rem;
$s-size: 1.75rem;
$xs-size: 1.4rem;

//Colors
$blue: #5ab2e2;
$dark-blue: #0F96D5;
$darker-blue: #294560;
$light-blue: #5eb4e2;
$grey-darker: hsl(0, 0%, 21%);
$almost-white: #F6F8F9;

//Breakpoints
$smartphone: 420px; //Most used viewport size for smartphones is 360px or 420px
$tablet: 600px;
$tablet-big: 1024px; //Most used viewport size for tablets is 768px
$desktop: 1280px; //Tablet viewport size starts here, desktop ends
$desktop-big: 1920px; //Most used vieport size for desktops

//Layout
$nav-height:6.5rem;